.postCardContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.cardImage {
  object-fit: cover;
}

.description {
  flex-grow: 1;
}

.publishedAt {
}

.readingTime {
}
