.title {
  color: var(--color-title);
  margin: 0;
}

.h1 {
  font-size: var(--font-size-3xl);
}

.h2 {
  font-size: var(--font-size-2xl);
}

.h3 {
  font-size: var(--font-size-xl);
}

.h4 {
  font-size: var(--font-size-lg);
}
